.container {
	background-color: papayawhip;
	display: flex;
	flex-flow: column nowrap;
}

@media (min-width: 48rem) and (max-width: 63.9375rem) {
	/* 768px - 1023px */
	.textAndTranslation {
		height: 22.5rem;
		width: 45rem;
	}

	.token {
		font-size: 1.5rem; /* Tablet font size */
	}
}

/* Desktop */
@media (min-width: 64rem) {
	/* 1024px and above */
	.container {
		flex-flow: row nowrap;
	}
}
