.Homepage {
  align-items: center;
  color: var(--current-mode-text);
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  text-align: center;
}

.Homepage p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 2.5rem;
  text-align: center;
  width: 95%;
}

.Homepage h1 {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 3.5rem 0;
}

.Homepage img {
  margin-bottom: 2.5rem;
}

.Homepage h2 {
  font-size: 2rem;
  font-weight: 500;
}

.homepage-cards {
  background: linear-gradient(to top, var(--main-color) 55%, transparent 45%);
  display: flex;
  flex-flow: row nowrap;
  height: 12.5rem;
  justify-content: space-around;
  margin: 2.5rem 0;
  width: 100%;
}

.homepage-card {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  border-radius: 1rem;
  cursor: pointer;
  filter: drop-shadow(2px 1px 6px rgba(0, 0, 0, 0.25));
  height: 10rem;
  width: 10rem;
}

#lessons-card {
  background-image: url(/src/components/Homepage/assets/icon-books-stack.svg);
}

#youtube-card {
  background-image: url(/src/components/Homepage/assets/icon-youtube.svg);
}

#music-card {
  background-image: url(/src/components/Homepage/assets/icon-musical-note.svg);
}

.Homepage h3 {
  font-size: 2rem;
  font-weight: 500;
  width: 95%;
}

.homepage-separator {
  background-color: var(--bocaditos-dark-yellow);
  border-radius: 0.3rem;
  height: 0.3rem;
  margin: 2.5rem 0;
  width: 40%;
}

.separator-left {
  align-self: flex-start;
  margin-left: 2rem;
}

.separator-right {
  align-self: flex-end;
  margin-right: 2rem;
}

@media only screen and (min-width: 768px) {
  .Homepage {
    width: 80%;
  }

  .main-icon {
    width: 70%;
  }

  .Homepage p {
    font-size: 1.6rem;
  }

  .homepage-cards {
    height: 20rem;
  }

  .homepage-card {
    height: 15rem;
    width: 15rem;
  }

  .homepage-separator {
    border-radius: 0.5rem;
    height: 0.5rem;
    margin: 5rem 0;
  }

  .Homepage img {
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .Homepage {
    width: 60%;
  }
}
