:root {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	--background-light: white;
	--background-card-light: white;
	--background-dark: #333333;
	--background-card-dark: #474747;
	--text-light: black;
	--text-dark: white;
	--box-shadow-light: 0 0.3rem 0.4rem -0.2rem rgba(0, 0, 0, 0.25);
	--box-shadow-dark: 0 0.3rem 0.4rem -0.2rem rgba(168, 168, 168, 0.25);
	box-sizing: border-box;
	font-size: 62.5%; /* 1rem = 10px */
	margin: 0;
	padding: 0;

	--bocaditos-grey: #464646;
	--bocaditos-dark-yellow: #ffd600;
	--main-color: #47d8e0;
	--mint-accent: #6deebb;
	--purple-accent: #7f7dcf;
	--bocaditos-black: #000000;
	--bocaditos-white: #ffffff;
	--pink-accent: #db4d89;
	--wine-accent: #a82f62;
	--celeste-accent: #50abaf;
	--dark-purple-accent: #686896;
	--dark-mint-accent: #5dcb9a;
	--light-grey-accent: #c6c2c2;

	/* Characters */
	--characters-light-grey: #818285;
	--characters-white: #ffffff;
	--characters-black: #231f20;
	--characters-blue-features: #60c8d4;
	--characters-humans: #595a5c;

	/* No responsive */
	--broken-glass-horizontal: url('https://cdn.bfldr.com/Z0BJ31FP/at/kk6qj8f9twb8fgqfw7hqmtjg/no-responsive-light-mode-horizontal.svg');
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

body.light-mode {
	background-color: var(--background-light);
	color: var(--text-light);
}

body.dark-mode {
	background-color: var(--background-dark);
	color: var(--text-dark);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2.5rem;
	box-shadow: var(--box-shadow-light);
}

.navbar.light-mode {
	background-color: var(--background-light);
	color: var(--text-light);
}

.navbar.dark-mode {
	background-color: var(--background-dark);
	color: var(--text-dark);
	box-shadow: var(--box-shadow-dark);
}

.navbar__logo {
	height: 3rem;
}

.navbar__theme-toggle {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.navbar__theme-toggle-icon {
	height: 2rem;
}

.no-background-no-border {
	background: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.no-background-no-border img {
	max-width: 100%;
	max-height: 100%;
}

/* Phone (portrait and landscape) */
@media (max-width: 47.9375rem) {
	/* 767px */
	.navbar {
		max-height: 5rem; /* 50px */
		font-size: 1rem;
		font-family: 'Roboto Light', sans-serif;
	}

	.navbar__logo {
		height: 2.4rem;
		width: 2.5rem;
	}

	.navbar__theme-toggle-icon {
		height: 2.5rem;
		width: 2.5rem;
	}
}

/* Tablet and Desktop */
@media (min-width: 48rem) {
	/* 768px and above */
	.navbar {
		max-height: 6rem; /* 60px */
		font-size: 1.5rem;
		font-family: 'Roboto Light', sans-serif;
	}

	.navbar__logo {
		height: 3.4rem;
		width: 3.5rem;
	}

	.navbar__theme-toggle-icon {
		height: 3.5rem;
		width: 3.5rem;
	}
}

.navbar-center {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-grow: 1;
}

.navbar-menu-item {
	margin: 0;
	text-decoration: none;
	color: inherit;
}

.textAndTranslation {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 1rem;
	height: 15rem;
	width: 30rem;
	margin: 2rem auto;
}

.textAndTranslation.light-mode {
	background-color: var(--background-card-light);
	box-shadow: var(--box-shadow-light);
}

.textAndTranslation.dark-mode {
	background-color: var(--background-card-dark);
	box-shadow: var(--box-shadow-dark);
}

.tokens {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	margin: 1rem 2.5rem;
}

.token {
	align-items: center;
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	text-align: center;
	transform: scale(1);
}

.englishToken {
	background-color: var(--main-color);
	color: white;
	margin: 0.25rem;
	padding: 0.25rem 0.5rem;
}

.spanishToken {
	margin: 0 0.25rem;
	cursor: pointer;
}

.roboto-thin {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-style: normal;
}

.roboto-light {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.roboto-regular {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-medium {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.roboto-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.roboto-black {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-style: normal;
}

.roboto-thin-italic {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-style: italic;
}

.roboto-light-italic {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.roboto-regular-italic {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.roboto-medium-italic {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: italic;
}

.roboto-bold-italic {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: italic;
}

.roboto-black-italic {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-style: italic;
}

.hoveredSpanishToken {
	color: var(--mint-accent);
	transform: scale(1.05);
}

.hoveredEnglishToken {
	background-color: var(--dark-purple-accent);
}

@media (min-width: 48rem) and (max-width: 63.9375rem) {
	/* 768px - 1023px */
	.textAndTranslation {
		height: 22.5rem;
		width: 45rem;
	}

	.token {
		font-size: 1.5rem; /* Tablet font size */
	}
}

/* Desktop */
@media (min-width: 64rem) {
	/* 1024px and above */
	.textAndTranslation {
		height: 30rem;
		width: 60rem;
	}

	.token {
		font-size: 2rem; /* Desktop font size */
	}
}
