# This will be 'development' in dev environment and 'production' in prod
NODE_ENV=development

# Set to 'true' to read files from local filesystem instead of GitHub Pages
NEXT_PUBLIC_READ_LOCAL_FILES=true

# Google Generative AI API Key
GOOGLE_GENERATIVE_AI_KEY=your_google_ai_api_key_here
