:root {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	--background-light: white;
	--background-card-light: white;
	--background-dark: #333333;
	--background-card-dark: #474747;
	--text-light: black;
	--text-dark: white;
	--box-shadow-light: 0 0.3rem 0.4rem -0.2rem rgba(0, 0, 0, 0.25);
	--box-shadow-dark: 0 0.3rem 0.4rem -0.2rem rgba(168, 168, 168, 0.25);
	box-sizing: border-box;
	font-size: 62.5%; /* 1rem = 10px */
	margin: 0;
	padding: 0;

	--bocaditos-grey: #464646;
	--bocaditos-dark-yellow: #ffd600;
	--main-color: #47d8e0;
	--mint-accent: #6deebb;
	--purple-accent: #7f7dcf;
	--bocaditos-black: #000000;
	--bocaditos-white: #ffffff;
	--pink-accent: #db4d89;
	--wine-accent: #a82f62;
	--celeste-accent: #50abaf;
	--dark-purple-accent: #686896;
	--dark-mint-accent: #5dcb9a;
	--light-grey-accent: #c6c2c2;

	/* Characters */
	--characters-light-grey: #818285;
	--characters-white: #ffffff;
	--characters-black: #231f20;
	--characters-blue-features: #60c8d4;
	--characters-humans: #595a5c;

	/* No responsive */
	--broken-glass-horizontal: url('https://cdn.bfldr.com/Z0BJ31FP/at/kk6qj8f9twb8fgqfw7hqmtjg/no-responsive-light-mode-horizontal.svg');
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

body.lightMode {
	background-color: var(--background-light);
	color: var(--text-light);
}

body.darkMode {
	background-color: var(--background-dark);
	color: var(--text-dark);
}

.roboto-thin {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-style: normal;
}

.roboto-light {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.roboto-regular {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-medium {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.roboto-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.roboto-black {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-style: normal;
}

.roboto-thin-italic {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-style: italic;
}

.roboto-light-italic {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.roboto-regular-italic {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.roboto-medium-italic {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: italic;
}

.roboto-bold-italic {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: italic;
}

.roboto-black-italic {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-style: italic;
}
