.homepage {
  align-items: center;
  color: var(--current-mode-text);
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  text-align: center;
}

.homepage__paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 2.5rem;
  text-align: center;
  width: 95%;
}

.homepage__title {
  font-size: 2rem;
  font-weight: 600;
  margin: 3.5rem 0;
}

.homepage__main-icon {
  margin-bottom: 2.5rem;
  height: 16.9rem;
  width: 22.4rem;
}

.homepage__subtitle {
  font-size: 2rem;
  font-weight: 500;
}

.homepage-cards {
  background: linear-gradient(to top, var(--main-color) 55%, transparent 45%);
  display: flex;
  flex-flow: row nowrap;
  height: 12.5rem;
  justify-content: space-around;
  margin: 2.5rem 0;
  width: 100%;
}

.homepage-card {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  border-radius: 1rem;
  cursor: pointer;
  filter: drop-shadow(2px 1px 6px rgba(0, 0, 0, 0.25));
  height: 10rem;
  width: 10rem;
}

.homepage-card--lessons {
  background-image: url(https://cdn.bfldr.com/Z0BJ31FP/at/4t7qm94ccf574sc3nfcqv3k/icon-books-stack.svg);
}

.homepage-card--youtube {
  background-image: url(https://cdn.bfldr.com/Z0BJ31FP/at/698nrm47q8kpw4x6b4r4h5w/icon-youtube.svg);
}

.homepage-card--music {
  background-image: url(https://cdn.bfldr.com/Z0BJ31FP/at/3xk4v8txfqtzv7wc6r4bmt2c/icon-musical-note.svg);
}

.homepage__section-title {
  font-size: 2rem;
  font-weight: 500;
  width: 95%;
}

.homepage__separator {
  background-color: var(--bocaditos-dark-yellow);
  border: none;
  border-radius: 0.3rem;
  height: 0.3rem;
  margin: 2.5rem 0;
  width: 40%;
}

.homepage__separator--left {
  align-self: flex-start;
  margin-left: 2rem;
}

.homepage__separator--right {
  align-self: flex-end;
  margin-right: 2rem;
}

.homepage__image {
  height: 17.5rem;
  width: 30rem;
}

@media only screen and (min-width: 768px) {
  .homepage {
    width: 80%;
  }

  .main-icon {
    width: 70%;
  }

  .homepage__paragraph {
    font-size: 1.6rem;
  }

  .homepage-cards {
    height: 20rem;
  }

  .homepage-card {
    height: 15rem;
    width: 15rem;
  }

  .homepage__separator {
    border-radius: 0.5rem;
    height: 0.5rem;
    margin: 5rem 0;
  }

  .homepage__image {
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .homepage {
    width: 60%;
  }
}
