.LessonPage {
  justify-content: space-between;
  color: var(--current-mode-text);
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  max-height: 80vh;
  max-width: 45rem;
  padding: 0 1rem;
/}

.title-progressBar-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1rem;
  height: 9rem;
  justify-content: center;
}

.keyPoints-container {
  display: flex;
  flex-flow: column nowrap;
  height: 18rem;
  padding: 0 1rem;
}

.keyPointsTitle {
  font-size: 1.4rem;
  
}

.keys {
  display: flex;
  flex-flow: column wrap;
  max-height: 12rem;
  text-align: center;
}

.point {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0.5rem 0;
  padding: 0;
  width: 50%;
}

.examples-teacher-container {

  display: grid;
  grid-template-areas:
    '. exampleTitle exampleTitle .'
    '. teacher examples .'
    'arrowLeft  explanation explanation arrowRight';
  grid-template-columns: 2.5rem 1fr 3fr 2.5rem;
  height: 35rem;
}


.exampleTitle {
  font-size: 1.4rem;
  grid-area: exampleTitle;
  margin: 0;
  padding: 0;
  text-align: center;
}

.teacher-container {
  display: flex;
  flex-flow: column nowrap;
  grid-area: teacher;
  justify-content: end;
  width: 7.5rem;
  z-index: 1;
}

.teacher-container img {
  margin-bottom: -2rem;
  width: 100%;
}

.examples {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.2rem;
  font-weight: 300;
  grid-area: examples;
  justify-content: center;
  height: 20rem;
  text-align: center;
}

.arrow-left {
  grid-area: arrowLeft;
}

.explanation {
  align-items: center;
  background-color: var(--mint-accent);
  color: black;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.4rem;
  font-weight: 300;
  grid-area: explanation;
  justify-content: center;
  height: 10.5rem;
  text-align: center;
  width: 100%;
}

.arrow-right {
  grid-area: arrowRight;
  justify-self: end;
}

.arrow-left,
.arrow-right {
  align-self: center;
  cursor: pointer;
}

@media only screen and (orientation: landscape) and (min-width: 320px) and (max-width: 850px) {
  .LessonPage {
    display: none;
  }
}
