.LessonPage {
  justify-content: space-between;
  color: var(--current-mode-text);
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  max-width: 45rem;
  padding: 0 2.5rem;
}

.title-progressBar-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 14.5rem;
  justify-content: center;
  margin-top: 2rem;
}

.keyPoints-container {
  display: flex;
  flex-flow: column nowrap;
  height: 20rem;

  padding: 0 2.5rem;
}

.keyPointsTitle {
  font-size: 1.6rem;
}

.keys {
  display: flex;
  flex-flow: column wrap;
  max-height: 15rem;
  text-align: center;
}

.point {
  font-size: 1.4rem;
  font-weight: 100;
  margin: 1rem 0;
  padding: 0;
  width: 50%;
}

.examples-teacher-container {
  display: grid;
  grid-template-areas:
    '. exampleTitle exampleTitle .'
    '. teacher examples .'
    'arrowLeft  explanation explanation arrowRight';
  grid-template-columns: 2.5rem auto auto 2.5rem;
  height: 32rem;
}

.exampleTitle {
  font-size: 1.6rem;
  grid-area: exampleTitle;
  text-align: center;
}

.teacher-container {
  grid-area: teacher;
  z-index: 1;
}

.teacher-container img {
  margin-bottom: -4rem;
}

.examples {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.4rem;
  font-weight: 100;
  grid-area: examples;
  justify-content: center;
  text-align: center;
}

.arrow-left {
  grid-area: arrowLeft;
}

.explanation {
  align-items: center;
  background-color: var(--mint-accent);
  color: black;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.4rem;
  font-weight: 300;
  grid-area: explanation;
  justify-content: center;
  height: 10.5rem;
  text-align: center;
  width: 100%;
}

.arrow-right {
  grid-area: arrowRight;
  justify-self: end;
}

.arrow-left,
.arrow-right {
  align-self: center;
  cursor: pointer;
}

@media only screen and (orientation: landscape) and (max-device-width: 850px) {
  .NoResponsive {
    display: flex;
  }
  .LessonPage {
    display: none;
  }
}
