.LessonsPage {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  min-height: 80vh;
}

.LessonsPage h1 {
  color: var(--current-mode-text);
  font-weight: 500;
}

.lessons-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.lesson-thumbnail {
  align-items: center;
  background-color: white;
  box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  color: black;
  cursor: pointer;
  display: flex;
  height: 25.5rem;
  justify-content: center;
  margin: 2.5rem;
  width: 25.5rem;
}

.lesson-link {
  text-decoration: none;
}

.lesson-thumbnail h3 {
  font-size: 2rem;
  font-weight: 100;
  margin: 0 2rem;
  text-align: center;
}
