.LessonPage {
  justify-content: space-between;
  color: var(--current-mode-text);
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  max-height: 80vh;
  max-width: 45rem;
  padding: 0 1rem;
}

.title-progressBar-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 9rem;
  justify-content: center;
}

.title-progressBar-container h1 {
  font-size: 1.6rem;
}

.keyPoints-container {
  display: flex;
  flex-flow: column nowrap;
  height: 16rem;
  min-height: 16rem;
  padding: 0 1rem;
}

.keyPointsTitle {
  font-size: 1.4rem;
}

.keys {
  display: flex;
  flex-flow: column wrap;
  max-height: 12rem;
  text-align: center;
}

.point {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0.5rem 0;
  padding: 0;
  width: 50%;
}

.examples-teacher-container {
  display: grid;
  grid-template-areas:
    '. exampleTitle exampleTitle .'
    '. teacher examples .'
    'arrowLeft  explanation explanation arrowRight';
  grid-template-columns: 2.5rem 1fr 3fr 2.5rem;
  height: 35rem;
}

.exampleTitle {
  font-size: 1.4rem;
  grid-area: exampleTitle;
  text-align: center;
}

.teacher-container {
  display: flex;
  flex-flow: column nowrap;
  grid-area: teacher;
  justify-content: end;
  width: 7.5rem;
  z-index: 1;
}

.teacher-container img {
  margin-bottom: -2rem;
  width: 100%;
}

.examples {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.2rem;
  font-weight: 300;
  grid-area: examples;
  justify-content: center;
  height: 10rem;
  text-align: center;
}

.arrow-left {
  grid-area: arrowLeft;
}

.explanation {
  align-items: center;
  background-color: var(--mint-accent);
  color: black;
  display: flex;
  flex-flow: row wrap;

  font-weight: 300;
  grid-area: explanation;
  justify-content: center;
  height: 10.5rem;
  text-align: center;
  width: 100%;
}

.explanation p {
  font-size: 1.2rem;
  padding: 0 1rem;
}

.arrow-right {
  grid-area: arrowRight;
  justify-self: end;
}

.arrow-left,
.arrow-right {
  align-self: center;
  cursor: pointer;
}

/* For the bruja */
@media only screen and (orientation: landscape) and (min-width: 320px) and (max-width: 850px) {
  .LessonPage {
    display: none;
  }
}

/* For smaller phone screens */
@media only screen and (max-width: 360px) and (orientation: portrait) {
  .LessonPage {
    max-height: 90vh;
    max-width: 45rem;
    padding: 0 1rem;
  }

  .title-progressBar-container {
    height: 9rem;
  }

  .title-progressBar-container h1 {
    font-size: 1.4rem;
  }

  .keyPoints-container {
    height: 14rem;
    min-height: 14rem;
    padding: 0 1rem;
  }

  .keyPointsTitle {
    font-size: 1.2rem;
  }

  .keys {
    max-height: 12rem;
  }

  .point {
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5rem 0;
    padding: 0;
    width: 50%;
  }

  .examples-teacher-container {
    display: grid;
    grid-template-areas:
      '. exampleTitle exampleTitle .'
      '. teacher examples .'
      'arrowLeft  explanation explanation arrowRight';
    grid-template-columns: 2.5rem 1fr 3fr 2.5rem;
    height: 35rem;
  }

  .exampleTitle {
    font-size: 1.2rem;
  }

  .teacher-container {
    justify-content: end;
    width: 7.5rem;
    z-index: 1;
  }

  .teacher-container img {
    margin-bottom: -2rem;
    width: 100%;
  }

  .examples {
    font-size: 1rem;
    height: 10rem;
  }

  .explanation {
    align-items: center;
    background-color: var(--mint-accent);
    font-size: 1.2rem;
    font-weight: 300;
    justify-content: center;
    height: 10.5rem;
    width: 100%;
  }

  .explanation p {
    padding: 0 1rem;
  }
}

/* For  desktop */

@media screen and (min-width: 1025px) {
  .LessonPage {
    justify-content: space-between;
    color: var(--current-mode-text);
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    max-height: 100vh;
    max-width: 90rem;
    padding: 0 1rem;
  }

  .title-progressBar-container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 9rem;
    justify-content: center;
    margin: auto;
    width: 50%;
  }

  .title-progressBar-container h1 {
    font-size: 2rem;
  }

  .teacher-container {
    justify-content: end;
    width: 15rem;
    z-index: 1;
  }

  .teacher-container img {
    margin-bottom: -4.5rem;
    width: 100%;
  }

  .keyPointsTitle {
    font-size: 1.8rem;
  }

  .point {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0.5rem 0;
    padding: 0;
    width: 50%;
  }

  .exampleTitle {
    font-size: 1.8rem;
    grid-area: exampleTitle;
    margin-bottom: 4rem;
    text-align: center;
  }

  .examples {
    font-size: 1.6rem;
    height: 10rem;
  }

  .explanation {
    align-items: center;
    background-color: var(--mint-accent);
    font-size: 1.2rem;
    font-weight: 300;
    justify-content: center;
    height: 13.5rem;
    width: 100%;
  }

  .explanation p {
    font-size: 1.8rem;
    padding: 0 1rem;
  }
}
