.Footer {
  align-items: center;
  background-color: var(--main-color);
  color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 20rem;
  margin-top: 2.5rem;
  text-align: center;
}

.Footer p {
  font-size: 1.6rem;
  margin: 4rem 2rem;
}
