.nav-bar {
  align-items: center;
  background-color: var(--current-mode);
  box-shadow: var(--current-mode-box-shadow);
  display: flex;
  flex-flow: row nowrap;
  height: 4rem;
  justify-content: space-between;
  padding: 0 2.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-bar--container {
  width: 50%;
}

.nav-bar__menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar__menu-item {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
}

.nav-bar__menu-link {
  color: var(--current-mode-text);
  text-decoration: none;
}

.nav-bar__mode-toggle-button {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 2.5rem;
  width: 2.5rem;
}

.toggle-button--icon {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-bar__logo,
.nav-bar__mode-toggle-icon {
  cursor: pointer;
}

.nav-bar__logo {
  height: 2.5rem;
  width: 2.5rem;
}

@media only screen and (min-width: 768px) {
  .nav-bar {
    height: 5rem;
    padding: 0 4.5rem;
  }

  .nav-bar__menu-item {
    font-size: 1.6rem;
  }

  .nav-bar__mode-toggle-button {
    height: 3.5rem;
    width: 3.5rem;
  }

  .nav-bar__logo {
    height: 3.5rem;
    width: 3.5rem;
  }
}
