.NavBar {
  align-items: center;
  background-color: var(--current-mode);
  box-shadow: var(--current-mode-box-shadow);
  display: flex;
  flex-flow: row nowrap;
  height: 4rem;
  justify-content: space-between;
  padding: 0 2.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.NavBar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  list-style: none;
  width: 80%;
}

.NavBar li {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
}

.NavBar a {
  color: var(--current-mode-text);
  text-decoration: none;
}

.NavBar img {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .NavBar {
    height: 5rem;
    padding: 0 4.5rem;
  }

  .NavBar li {
    font-size: 1.6rem;
  }

  .NavBar img {
    width: 3.5rem;
  }
}
