.NoResponsive {
  align-items: flex-end;
  display: none;
  flex-flow: column nowrap;
  height: 80vh;
  justify-content: center;
  width: 100%;
  overflow-y: auto;
}

.overlay {
  background-image: var(--broken-glass-horizontal);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.evil-bruja-image {
  margin-left: 20rem;
  width: 25%;
}

.NoResponsive p {
  margin: auto;
  color: var(--current-mode-text);
  text-align: center;
  width: 75%;
}

@media only screen and (orientation: landscape) and (min-width: 320px) and (max-width: 900px) {
  .NoResponsive {
    display: flex;
  }
}
