.progress-bar {
  background-color: #d9d9d9;
  border-radius: 1rem;
  height: 1.2rem;
  overflow: hidden;
  width: 75%;
}

.inner-progress-bar {
  background-color: var(--main-color);
  height: 100%;
  transition: width 0.3s ease;
}
