.subscription-form {
  align-items: center;
  background-color: var(--purple-accent);
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  height: 4rem;
  justify-content: center;
  width: 12.5rem;
}

.subscription-form__link {
  color: black;
  font-size: 1.6rem;
  text-decoration: none;
}

.subscription-form__icon {
  margin: 0 0 0 0.75rem;
  height: 1.5rem;
  padding: 0;
  width: 2rem;
}
