.SubscriptionForm {
  align-items: center;
  background-color: var(--purple-accent);
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  height: 4rem;
  justify-content: center;
  width: 12.5rem;
}

.SubscriptionForm a {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
}

.SubscriptionForm img {
  margin: 0 0 0 0.75rem;
  padding: 0;
  width: 2rem;
}
