.WorkInProgress {
  align-items: center;
  color: var(--current-mode-text);
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.4rem;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 5rem;
}

.WorkInProgress img {
  width: 15rem;
}

@media screen and (orientation: landscape) {
  .WorkInProgress {
    flex-flow: row nowrap;
    width: 75%;
  }
  .WorkInProgress img {
    width: 7.5rem;
  }
}
